
.card{
	margin: 0 auto;
	width:30%;
  transform: translateY(50%);
  opacity: .8 ;
  background-color: #4c0000;
}

.background img{
  width:100%;
  height:100%;
  position: absolute;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #000000;
}

.right {
float:right;
}
.btn{
	background-color: white;
	color:black;
	opacity:1;
}

.btn:hover{
		background-color: #7f0000;
		color:white;

}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
width:50%;
float:left;}

/*.search{
	width:20%;
	position:absolute;
	float:right;
}*/

.nav-wrapper{
	background-color: #7f0000;
}

.add-button{
	margin-top:20px;
}

.left-btn{
	float:left;
	margin-bottom:30px;
}

.right-btn{
	float:right;
}

.cap-btn{
	width:300px
}

.card-title{
	text-align:center;
}