{% include "base.html" %}
{% include "navbar.html" %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'pinterest.css' %}"/> 
{% if not connection %}
<script src="{% static 'giftr.js' %}"></script>
{% endif %}
<body>
{% include "modal_forms.html" %}
<!-- {% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="{% static 'logout.js' %}"></script> -->

<div id="wrapper">
  <div id="columns">
    {% include "gifts.html" %}
  </div>
</div>