  {% load staticfiles %}

{% include "base.html" %}

<body>
{% for error in errors %}
<p style="color:red">
{{error}}
</p>
{% endfor %}

<div class = "background">
      <img src="{% static 'presentbackground.jpg' %}" alt="My image"/>
</div>
<div class = "valign">
 <div class="row">
  <div class="col s12">
          <div class="card grey">
            <div class="card-content white-text">
              <span class="card-title">Sign In to giftr</span>
             <form action="{% url 'userlogin' %}" method="post">
 			 Email: <input type="text" name="username" id="username" placeholder="text" value="{{ username }}"> <br>
  			Password: <input type="password" name="password" id="password" placeholder="Password" value="{{ password }}"><br>
 				 <input type="submit" text="Add item">
  				{% csrf_token %}
            </form>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
      </div>
      </div>
      </div>


</body>
</html>

