<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Giftr</title>
</head>

<body>
{% for error in errors %}
<p style="color:red">
{{error}}
</p>
{% endfor %}

<form action="{% url 'userlogin' %}" method="post">
  Email: <input type="text" name="username" id="username" placeholder="text" value="{{ username }}"> <br>
  Password: <input type="password" name="password" id="password" placeholder="Password" value="{{ password }}"><br>
  <input type="submit" text="Add item">
  {% csrf_token %}
</form>

</body>
</html>

