{% include "base.html" %}
  
  <nav>
    <div class="nav-wrapper special">
    <form action="{% url 'search_gift' %}" method="get">
        <div class="input-field search spec">
          <input id="search" name="gift_str" type="search" value="{{ gift_str }}" required>
          <label for="search"><i class="material-icons spec">search</i></label>
          <i class="material-icons spec">close</i>
        </div>
      </form>
      <a href="{% url 'gift_gallery' %}" class="brand-logo center">giftr</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>My Balance : ${{ rewards_balance }}0</li>
        <li><a href="{% url 'gift_gallery' %}">Gift Gallery</a></li>
        <li><a href="{% url 'profile' user.username %}">My Gifts</a></li>
        <!-- <li><a href="{% url 'rewards' user.username %}">My Rewards</a></li> -->
        <li><a href="{% url 'userlogout' %}">Log Out</a></li>
      </ul>
    </div>
  </nav>

        
