{% include "base.html" %}
{% include "navbar.html" %}
{% load staticfiles %}
       
      <link rel="stylesheet" type="text/css" href="{% static 'pinterest.css' %}"/> 

<!-- {% for gift in gifts %}
<p style="color:red">
{{ gift.description }}
<img src="{% url 'get_photo' gift.id %}" alt="{{gift.description}}">
</p>
{% endfor %}
 -->
<div id="wrapper">
	<div id="columns">
		{% for gift in gifts %}
			<div class="pin">
				<img src="{% url 'get_photo' gift.id %}" />
				<p>
					{{ gift.description }}
				</p>
			</div>
		{% endfor %}
	</div>
</div>