{% include "base.html" %}
{% include "navbar.html" %}
{% load staticfiles %}
       
      <link rel="stylesheet" type="text/css" href="{% static 'pinterest.css' %}"/> 

                 <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content white-text">
                <center><span class="card-title">My Cards</span></center>
                {% for card in cards %}
                    <div class="chip">{{ card }}</div><br><div><br></div>
                {% endfor %}
            </div>
           
          </div>
        </div>
      </div>


